# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
__init__.pyc
__init__.pyo

# Built and Compiled files
*.pyd
*.db
*.bak
*.swp
*~
*.log

# Virtual Environment
venv/
ENV/
.env/

# PyCharm-specific files and directories
.idea/
.idea_modules/
*.iml
*.iws
*.ipr

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python files
*.pyc

# Captured directory for the coverage data
.coverage

# Exclude the macOS-specific .DS_Store files
.DS_Store
